@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/poppins/Poppins-Bold.woff2") format("woff2"), url("../fonts/poppins/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/poppins/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/poppins/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/poppins/Poppins-Regular.woff2") format("woff2"), url("../fonts/poppins/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Baloo';
  src: url("../fonts/Baloo_2/Baloo2-Regular.woff2") format("woff2"), url("../fonts/Baloo_2/Baloo2-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.header {
  margin-top: 25px;
}

.header__row {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo img {
  height: 50px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 45px;
          column-gap: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  font-family: 'Poppins';
  margin-top: 10px;
}

.header__link {
  font-size: 15px;
  color: #030303;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: .1s;
  transition: .1s;
}

.header__link:hover:not(.active) {
  color: #3BB77E;
}

.active {
  font-weight: 700;
}

.register__btn {
  width: 125px;
  height: 50px;
  font-family: 'Inter';
  background-color: #D2FFEA;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  color: #3BB77E;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: .1s;
  transition: .1s;
}

.register__btn:hover {
  background-color: #c8f5e0;
}

.hero {
  margin-top: 105px;
}

.hero__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__content {
  max-width: 486px;
}

.hero__title {
  font-family: 'Poppins';
  font-size: 60px;
  line-height: 72px;
  color: #101130;
  margin-bottom: 28px;
}

.hero__copy {
  font-family: 'Roboto';
  color: #606176;
  font-weight: 400;
}

.copy1 {
  max-width: 447px;
  line-height: 32px;
  font-size: 20px;
  margin-bottom: 28px;
  font-weight: 400;
}

.hero__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 62px;
  background-color: #3BB77E;
  color: #FEF4F1;
  text-decoration: none;
  border-radius: 16px;
  margin-bottom: 35px;
}

.copy2 {
  font-size: 18px;
}

.copy2 a {
  color: #2076FF;
}

.hero__img img {
  width: 594px;
  height: 560px;
}

.university {
  margin-top: 90px;
}

.university__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 141px;
}

.university__content {
  max-width: 251px;
  font-family: 'Inter';
}

.university__quantity {
  font-weight: 700;
  font-size: 62px;
  color: #101131;
}

.university__copy {
  margin-top: 10px;
  line-height: 28px;
  font-weight: 400;
  color: #606176;
  font-size: 20px;
}

.university__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 45px;
          column-gap: 45px;
}

.service {
  margin-top: 92px;
}

.service__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service__img img {
  width: 480px;
}

.service__content {
  max-width: 607px;
  width: 100%;
}

.service__title {
  font-family: 'Poppins';
  color: #101130;
  font-size: 44px;
  line-height: 56px;
  margin-bottom: 60px;
  font-weight: 700;
}

.service__listItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 45px;
}

.service__item {
  max-width: 256px;
}

.service__item img {
  background-color: #D2F1E1;
  padding: 17px;
  border-radius: 16px;
  margin-bottom: 26px;
}

.service__item h2 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  color: #101130;
  margin-bottom: 12px;
}

.service__item p {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #606176;
}

.bootcamp {
  padding-top: 130px;
}

.bootcamp__row {
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
}

.bootcamp__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bootcamp__title {
  font-family: 'Poppins';
  font-weight: 700;
  color: #101130;
  font-size: 44px;
  line-height: 56px;
}

.bootcamp__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  height: 60px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  border: 1px solid #2076FF;
  border-radius: 12px;
  text-decoration: none;
  color: #2076FF;
  margin-top: auto;
}

.lessonList {
  margin-top: 60px;
}

.lessonList__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lessonList__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 270px;
  padding: 12px 16px 20px 14px;
  -webkit-box-shadow: 0 0 18px 2px rgba(233, 233, 233, 0.3);
          box-shadow: 0 0 18px 2px rgba(233, 233, 233, 0.3);
  border-radius: 12px;
}

.lessonList__img {
  width: 240px;
  height: 165px;
  border-radius: 12px;
  margin-bottom: 16px;
}

.lessonList__title {
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 600;
  color: #101130;
  line-height: 26px;
  margin-bottom: 38px;
  letter-spacing: -1px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 18px;
          column-gap: 18px;
  margin-bottom: 25px;
}

.users__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4px;
          column-gap: 4px;
  width: 99px;
  color: #606176;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.lessonList__item__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  width: 240px;
  height: 40px;
  border: 1px solid #2076FF;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.lessonList__item__btn:hover {
  background-color: #2076FF;
}

.lessonList__item__btn:hover:hover .lessonList__item__btn__copy {
  color: #fff;
}

.lessonList__item__btn:hover:hover path {
  fill: #fff;
}

.lessonList__item__btn__copy {
  font-family: 'Inter';
  font-weight: 400;
  line-height: 22px;
  font-size: 14px;
  color: #2076FF;
}

.features {
  margin-top: 130px;
}

.features__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features__content {
  max-width: 476px;
  margin: auto 0;
}

.features__content__title {
  font-family: 'Poppins';
  font-size: 44px;
  font-weight: 700;
  letter-spacing: -0.16px;
  line-height: 56px;
  color: #101130;
  margin-bottom: 35px;
}

.feature__content__copy {
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 25px;
}

.feature__content__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 62px;
  background-color: #3BB77E;
  color: #fff;
  font-family: 'Inter';
  font-weight: 600;
  letter-spacing: -0.16px;
  border-radius: 16px;
  text-decoration: none;
  -webkit-transition: .1s;
  transition: .1s;
}

.feature__content__link:hover {
  background-color: #2ba36b;
}

.features__image {
  min-height: 620px;
}

.features__image__inner {
  width: 545px;
  height: 565px;
  border-radius: 18px;
  background-color: #F6F5FA;
}

.features__image__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  row-gap: 57px;
  width: 530px;
  height: 360px;
  -webkit-transform: translate(-59px, 83px);
          transform: translate(-59px, 83px);
}

.features__image--item {
  border-radius: 18px;
}

.feature__image__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 18px;
          column-gap: 18px;
}

.feature__image__block--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 12px;
  width: 145px;
  height: 115px;
  background-color: #fff;
  border-radius: 8px;
}

.feature__image__block--items img {
  width: 80px;
  height: 45px;
  border-radius: 8px;
}

.feature__image__block--items p {
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 500;
  color: #000;
}

.learner {
  margin-top: 130px;
  font-family: 'Inter';
  color: #101130;
}

.learner__row {
  max-width: 1105px;
  margin: 0 auto;
}

.learner__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.learner__head__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 56px;
  letter-spacing: -0.16px;
}

.learner__head__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 34px;
          column-gap: 34px;
}

.learner__head__arrow path {
  -webkit-transition: .1s;
  transition: .1s;
}

.learner__head__arrow svg {
  cursor: pointer;
}

.learner__head__arrow svg:hover path {
  stroke: #606176;
}

.learner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.learner__block {
  max-width: 463px;
}

.learner__block__descr {
  font-family: 'Inter';
  font-weight: 500;
  line-height: 28px;
  font-size: 22px;
  margin-bottom: 35px;
}

.learner__block__copy {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #606176;
  margin-bottom: 45px;
}

.learner__block__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 27px;
          column-gap: 27px;
  max-width: 226px;
}

.learner__block__user img {
  width: 60px;
  height: 60px;
}

.learner__block__user--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.leaner__name {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.16px;
  margin-bottom: 4px;
}

.leaner__city {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #606176;
  margin-bottom: 8px;
}

.learner__block__user--item img {
  width: 79px;
  height: 15px;
}

.price {
  margin-top: 130px;
  font-family: 'Inter';
}

.price-row {
  max-width: 1125px;
  margin: 0 auto;
}

.price-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 60px;
}

.price-head--title {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 44px;
  line-height: 56px;
  letter-spacing: -0.16px;
  color: #101130;
}

.price-head--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
  height: 60px;
  font-size: 18px;
  font-weight: 400;
  color: #2076FF;
  letter-spacing: -0.16px;
  line-height: 21px;
  text-decoration: none;
  border-radius: 12px;
  border: 1px solid #2076FF;
}

.price-head--link:hover {
  color: #1a6aeb;
  border: 1px solid #1a6aeb;
}

.price-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price-block {
  max-width: 305px;
  border-radius: 12px;
  overflow: hidden;
}

.price-block1,
.price-list--item:before {
  background-color: #2076FF;
}

.price-block2,
.price-list--item:before {
  background-color: #F6C07A;
}

.price-block3,
.price-list--item:before {
  background-color: #3BB77E;
}

.price-main-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.price-main-head--title {
  font-weight: 600;
  font-size: 26px;
  color: #fff;
  line-height: 38px;
}

.price-main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 487px;
  padding: 40px 22px 22px;
  background-color: #EDF3FF;
}

.price-content--price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 44px;
  line-height: 38px;
  color: #101130;
  margin-bottom: 40px;
}

.price-content--price span {
  font-size: 22px;
  font-weight: 500;
  margin-top: -12px;
}

.price-list {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  list-style: none;
}

.price-list--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  margin-bottom: 30px;
  font-size: 20px;
}

.price-list--item:before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50px;
}

.price-list--item:nth-last-child(1) {
  margin-bottom: 0;
}

.price-list--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 260px;
  height: 70px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
  border-radius: 14px;
}

.price-list--link1 {
  color: #2076FF;
  border: 1px solid #2076FF;
}

.price-list--link2 {
  color: #F6C07A;
  border: 1px solid #F6C07A;
}

.price-list--link3 {
  color: #3BB77E;
  border: 1px solid #3BB77E;
}

.footer {
  margin-top: 130px;
}

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Poppins';
  margin-bottom: 90px;
}

.footer-logo {
  max-width: 285px;
}

.footer-logo--img {
  margin-bottom: 27px;
}

.footer-logo--copy {
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.32px;
}

.footer-about--title,
.footer-support--title,
.footer-store--title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.16px;
  color: #101130;
  margin-bottom: 30px;
}

.footer-about--list,
.footer-support--list {
  list-style: none;
  padding: 0;
}

.footer-about--item,
.footer-support--item {
  margin-bottom: 16px;
}

.footer-about--item:nth-last-child(1),
.footer-support--item:nth-last-child(1) {
  margin-bottom: 0;
}

.footer-about--link,
.footer-support--link {
  text-decoration: none;
  color: #606176;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.16px;
}

.footer-store-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 18px;
}

.footer-copyright--copy {
  font-family: 'Inter';
  font-size: 15px;
  padding: 38px 0;
  line-height: 18px;
  letter-spacing: -0.16px;
  font-weight: 400;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', 'Poppins', 'Roboto', 'Baloo', sans-serif;
  color: #606176;
  font-size: 18px;
}

.wrapper {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
}

.container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */