@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/poppins/Poppins-Bold.woff2") format("woff2"), url("../fonts/poppins/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/poppins/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/poppins/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/poppins/Poppins-Regular.woff2") format("woff2"), url("../fonts/poppins/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Baloo';
  src: url("../fonts/Baloo_2/Baloo2-Regular.woff2") format("woff2"), url("../fonts/Baloo_2/Baloo2-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.header {
  margin-top: 25px;
}

.header__row {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo img {
  height: 50px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 45px;
          column-gap: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  font-family: 'Poppins';
  margin-top: 10px;
}

.header__link {
  font-size: 15px;
  color: #030303;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: .1s;
  transition: .1s;
}

.header__link:hover:not(.active) {
  color: #3BB77E;
}

.active {
  font-weight: 700;
}

.register__btn {
  width: 125px;
  height: 50px;
  font-family: 'Inter';
  background-color: #D2FFEA;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  color: #3BB77E;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: .1s;
  transition: .1s;
}

.register__btn:hover {
  background-color: #c8f5e0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', 'Poppins', 'Roboto', 'Baloo', sans-serif;
}

.wrapper {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
}

.container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */