.header{
  margin-top: 25px;
}
.header__row{
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.logo img{
  height: 50px;
}

.header__list{
  display: flex;
  column-gap: 45px;
  align-items: center;
  list-style-type: none;
  font-family: 'Poppins';
  margin-top: 10px;
}
.header__link{
  font-size: 15px;
  color: #030303;
  font-weight: 400;
  text-decoration: none;
  transition: .1s;

  &:hover:not(.active){
    color:#3BB77E;
  }
}
.active{
  font-weight: 700;
}
.register__btn{
  width: 125px;
  height: 50px;
  font-family: 'Inter';
  background-color: #D2FFEA;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  color: #3BB77E;
  font-size: 16px;
  cursor: pointer;
  transition: .1s;
  &:hover{
    background-color: #c8f5e0;
  }
}